.setup2-side1 {
  background-image: url("../../images/lampOnSideTable.jpg");
  background-size: cover;
}

.setup2-side1 {
  padding: 60px 30px 600px 30px;
}

.setup2-side2 {
  padding: 60px 30px;
}

.setup2-side1 h1 {
  color: #323232;
  text-align: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.setup2-side1 h2 {
  color: #fff;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.setup2-side2 h3 {
  font-size: 1em;
  font-weight: bold;
}

.setup2-side2 h4 {
  font-size: 0.6em;
  font-weight: bold;
}

.setup2-side2 h5 {
  font-size: 0.5em;
  font-weight: bold;
}

.setup2-side2 .col-md-6 {
  font-size: 1.5em;
  font-weight: bold;
  /* padding: 60px 30px; */
  border-color: #cecece;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
}

.setup2-side2 .col-md-6 hr {
  margin: 0.5rem;
}

.setup2-side2 .col-md-6 button {
  width: 100%;
  background-color: #323232;
  border-color: #323232;
  font-weight: 600;
}

.setup2-side2 a.btn.btn-primary {
  width: 100%;
  background-color: #323232;
  border-color: #323232;
  margin-top: 30px;
  font-weight: 600;
}

.setup2-side2 .col-md-12 p {
  font-size: 0.8em;
  font-weight: 500;
  /* padding: 60px 30px; */
}

.setup2-side2 .col-md-12 input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
