.jumbotron {
  text-align: right;
  background-image: url(./../images/homeSlider3.jpg);
  background-size: cover;
  background-position: center;
  padding: 45px 30px 45px 30px;
}

main .jumbotron h1 {
  text-align: right;
  font-size: 1.5rem;
  text-transform: capitalize;
  display: block;
  line-height: 80px;
}

.features {
  padding: 20px;
}

.features h4,
.features .feature {
  text-align: center;
}
